{% extends 'organization/base.html' %}

{% block title %}
Manager Home
{% endblock %}

{% block content %}
<div class="h-screen flex flex-col p-10 md:p-20 overflow-hidden">
    <div class="flex justify-between">
        <div>
        <h3 class="text-2xl text-slate-700 font-bold md:text-4xl">list des formulaires</h3>
        <p class=" text-slate-500">Gérer et suivre les formulaires d'absence des collaborateurs. </p>
        </div>

        <div class="flex flex-col justify-center items-center md:flex-row md:gap-3 ">
            <h3 class="text-2xl text-slate-700 font-bold md:text-4xl">{{my_forms|length}}</h3>
            <p class=" text-slate-500 ">total forms</p>
        </div>
    </div>

<div class="flex flex-col md:items-center md:flex-row md:justify-between gap-4 mt-10 mb-10">
    <form method="get" class="w-full flex flex-row gap-3">
        <input 
            type="text" 
            name="search"
            placeholder="Search by name or ID..." 
            class="w-full md:w-1/2 pl-11 pr-4 py-3 bg-white/80 backdrop-blur-sm border border-slate-200 rounded-2xl 
                focus:outline-none focus:ring-2 focus:ring-indigo-500/20 focus:border-indigo-500
                transition-all duration-300 text-slate-700 placeholder:text-slate-400"
        >

        <button 
        type="submit"
        class="text-white bg-blue-900 hover:bg-blue-950 px-6 py-3 rounded-xl
               transition-all duration-300 shadow-md hover:shadow-xl">
        Search
    </button>
    </form>

    <a href="{% url 'add_form' %}"
        class=" flex justify-center items-center gap-3 shrink-0 w-full md:w-auto text-white bg-blue-900 hover:bg-blue-950 px-6 py-3 rounded-xl
               transition-all duration-300 shadow-md hover:shadow-xl transform hover:scale-[1.01]"
    >
        <i class="fa-solid fa-plus text-sm"></i>
        Add form
    </a>

</div>

{% if messages %}
    {% for message in messages %}
    <div class="p-4 mb-4 rounded bg-green-100 text-green-800 ">
        {{message}}
    </div>
    {% endfor %}
{% endif %}

   <div class="bg-white rounded-3xl shadow-2xl overflow-hidden">

    <div class="max-h-125  overflow-x-auto overflow-y-auto w-full">

        <table class="w-full min-w-175">

            <thead>
                <tr class="bg-linear-to from-slate-50 to-indigo-50/30 border-b-2 border-slate-100 text-slate-700">

                    <th class="p-3 text-left">ID</th>
                    <th class="p-3 text-left">ID-Collaborateur</th>

                    <th class="p-3 text-left">Full name</th>
                    <th class="p-3 text-left">Type</th>
                    <th class="p-3 text-left">Date</th>
                    <th class="p-3 text-center" colspan="3">Actions</th>

                </tr>
            </thead>

            <tbody>

                {% for form in my_forms %}

                <tr class="text-slate-600 border-b border-slate-100">

                    <td class="p-3">{{ form.id }}</td>

                    <td class="p-3">{{ form.collaborateur.corporate_id }}</td>


                    <td class="p-3">
                        {{ form.collaborateur.first_name }} {{ form.collaborateur.family_name }}
                    </td>

                    <td class="p-3">{{ form.type_absence }}</td>

                    <td class="p-3">{{ form.created_at }}</td>

                 <td class="p-3 text-center">
                    <a href="{% url 'form_detail' form.id %}">
                        <div class="flex justify-center items-center w-8 h-8 rounded-lg bg-slate-300 hover:bg-blue-950 
                                    hover:text-white  transition-all duration-300 
                                    hover:shadow-lg hover:scale-110">
                            <i class="fa-solid fa-eye text-sm"></i>
                        </div>
                    </a>
                </td>

                <td class="p-3 text-center">
                    <button >
                        <div class="flex justify-center items-center w-8 h-8 rounded-lg bg-slate-300 hover:bg-amber-500
                                    hover:text-white  transition-all duration-300 
                                      hover:shadow-lg hover:scale-110">
                            <i class="fa-solid fa-pen text-sm"></i>
                        </div>
                    </button>
                </td>

                <td class="p-3 text-center">
                    <form action="{% url 'delete_form' form.id %}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce formulaire ?');">
                        {% csrf_token %}
                        <button type="submit">
                            <div class="flex justify-center items-center w-8 h-8 rounded-lg bg-slate-300 hover:bg-red-800
                                        hover:text-white  transition-all duration-300 
                                        hover:shadow-lg hover:scale-110">
                                <i class="fa-solid fa-trash text-sm"></i>
                            </div>
                        </button>
                    </form>
                </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

         

    </div>
   

</div>
 <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Se déconnecter</button>
    </form>
</div>
{% endblock %}